html body{
  margin: 0px;
  padding: 0px;
}

body{
  background-image: linear-gradient(140deg, hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}

.main-box{
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: white;
  text-align: center;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
}

.dropdown:hover .dropdown-content{
  display: block;
}
