html body{
  margin: 0px;
  padding: 0px;
}

body{
  background-image: linear-gradient(140deg, hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}

.main-box{
  margin-top: 10vh;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  min-height: 600px;
  background-color: white;
  justify-content: space-between;
}

.box{
  display: flex;
}
.image{
  height: 100vh;
  float: left;
  min-width: 50%;
  background-image: url("images/illustration-woman-online-desktop.svg"),url("images/illustration-box-desktop.svg");

}

.question{
  height: 100vh;
  float: left;
min-width: 50%;
}

.dropdown{
  position: relative;
  display: block;
}

.dropdown-content{
  display: none;
}

.dropdown:hover .dropdown-content{
  display: block;
}
